:root {
    --radius: 8px;
}

html,
body,
h1,
p {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

.container {
    width: 500px;
}

.title,
.subtitle {
    margin-bottom: 12px;
}

.accordion {
    .accordion__item {
        .accordion__header-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background: #000;
            padding: 12px;
            border-radius: var(--radius);
            color: #fff;
            cursor: pointer;
            text-align: left;
            font-size: 18px;
            position: relative;

            .accordion__caret--down {
                transform: rotate(180deg);
            }
        }

        .accordion__content {
            margin: 0;
            padding: 0 12px;
            border: 2px solid #000;
            border-radius: var(--radius);
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition:
                max-height 0.4s ease,
                opacity 0.4s ease,
                margin 0.4s ease;
        }

        .accordion__content--open {
            max-height: 250px;
            opacity: 1;
            margin: 8px 0;
        }
    }
}
